.fill-height {
	height: 100%;
}

.fill-width {
	width: 100%;
}

.flex__center_horizontal {
	display: flex;
	justify-content: space-between;
}

.flex__center_vertical {
	display: flex;
	align-items: center;
}

.btn__style_reset {
	background: none;
	border: none;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.btn__icon_close {
	position: absolute;
	right: 8px;
	top: 8px;
	color: rgba(0, 0, 0, 0.12);
	cursor: pointer;
	&:hover {
		color: rgba(0, 0, 0, 0.48);
	}
}

