html, body {
	height: 100%;
}
body {
	margin: 0;
	background-color: #006eff;
	color: white;
}
button {
	background: none;
	border: none;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
