$primary_100: #f0e9f3;
$primary_150: #e1d2e7;
$primary_200: #d3bcda;
$primary_250: #c4a5ce;
$primary_300: #b58fc2;
$primary_350: #a679b6;
$primary_400: #9762aa;
$primary_450: #894c9d;
$primary_500: #7a3591;
$primary_550: #6b1f85;
$primary_600: #601c78;
$primary_650: #56196a;
$primary_700: #4b165d;
$primary_750: #401350;
$primary_800: #361043;
$primary_850: #2b0c35;
$primary_900: #200928;
$primary_950: #15061b;
$primary_1000: #0b030d;

$primary: $primary_550;
$primary_light: $primary_350;
$primary_dark: $primary_800;
$primary_text: $primary_100;
